<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/0493c978ee.js"
      crossorigin="anonymous"
    ></script>
    {% block head %}
    {% endblock head %}
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  </head>
  <body>
    <header class="header">
      <div class="content flex_space">
        <div class="logo">
          <h3>Hotel<span>Booking</span></h3>
        </div>
        <div class="navlinks">
          <ul id="menulist">
            <li><a href="#home">Home</a></li>
            <li><a href="#hotels">Hotels</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><i class="fa fa-search"></i></li>
            <li><button class="primary-btn">SignUp</button></li>
          </ul>
          <span id="menu_bars" class="fa fa-bars"></span>
        </div>
      </div>
    </header>
    {% block body %} {% endblock body %}

    <script>
      var menuList = document.getElementById("menulist");
      let menuBar = document.getElementById("menu_bars");
      menulist.style.maxHeight = "0px";
      menuBar.addEventListener("click", menutoggle());

      function menutoggle() {
        if (menulist.style.maxHeight == "0px") {
          menulist.style.maxHeight = "100vh";
        } else {
          menulist.style.maxHeight = "0px";
        }
      }
    </script>
    {% block js %} {% endblock js %}
  </body>
</html>
